.navbar-default
{ 
background-color:#FF6C47 !important;    /*change color*/
}
.navbar{
	min-height: 40px; /*nav menu overwrite*/
}
.snap-drawer-left{
  	background-color: #D3D3CE !important; /* testing div container*/ 
	/*filter:alpha(opacity=60);
	opacity:0.6;*/
}
/*.btn-group-lg{	/*testing for div elements inside left-side menu
	background-color: red;
}*/
/*
.container{
	background-color: yellow !important; /*color coding more divs*/
}
.snap-content{
	background-color: red !important;    /*finding where all the divs are*/
}
/*.snapjs-left{
	background-color: green; /*found overall div container, overwrites snap-drawe-left bug needs to be fixed 
} */
.snap-content{
	background-color: #F0F0EE !important;
}
.btn-group-vertical.btn-group-lg{ /*trying to find out the right size*/
	width:170px;
	padding-left:45px;
}
.row{
	width: 240px; /*adjusted snap menu*/
}
.containter{
	width: 250px; /*trying to fix the left menu*/
}
.snap-drawer-left{
	width: 266px; /*fixed issue with scroll bar */
}
a{
	color: #000000; /*changed font color font to match everything else*/ 
}
.navbar-header{
	width: 38px;
	height: 0px;
}