<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Blood Alcohol Content Calculator App</name>

    <description>
        Blood Alcohol content app. 
    </description>

    <author href="https//joshvee.com" email="joshvillahermosa@gmail.com">
        Joshua John Villaheermosa
    </author>

    <author href="https//joshvee.com" email="">
        Alex DAvila
    </author>

     <icon src="img/JayVeeLogo_V3.3-300x300.png" />
     <gap:splash src="img/JayVeeLogo_V3.3-300x300.png" gap:platform="andriod" width="320" height="480" />

</widget>